# Base de datos
MYSQL_ROOT_PASSWORD=rootsecret
MYSQL_DATABASE=tienda_db
MYSQL_USER=proy2
MYSQL_PASSWORD=secret

# JWT
JWT_SECRET=cambia_esto_por_un_secreto_seguro
VITE_API_URL=http://localhost:3001
FRONTEND_URL=http://localhost:5173
DB_PORT=3306